* {
  margin: 0;
  padding: 0;
}

main {
  margin: 100px 275px 0 275px;
}

h3 {
  text-decoration: underline;
}

.culture-banner {
  width: 100%;
  height: 400px;
  background-image: url("images/practice.jpg");
  background-repeat: no-repeat;
  background-position: 0px -1000px;
  background-size: cover;
}

.culture-banner h2 {
  position: relative;
  padding-top: 150px;
  line-height: 100px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: orange;
}

.hiero-pics ul {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

.hiero-pics ul li {
  list-style: none;
  display: inline;
  padding: 0 8.3px;
}

.culture-hiero ul li img {
  width: 400px;
  height: 275px;
  border-radius: 25px;
}

.fashion-types ul {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

.fashion-types ul li {
  list-style: none;
  display: inline;
  float: left;
  padding: 0 47px;
}

.fashion-text {
  width: 325px;
}

.fashion-types ul li img {
  width: 325px;
  height: 400px;
}

.religions ul li {
  list-style: none;
}

.text h2 {
  font-size: 3em;
}
.text h3 {
  font-size: 2em;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 174, 98);
}

/* header .lp {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
} */

nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}
nav ul li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}
nav ul li a:hover {
  transform: scale(1.2) translateY(0px);
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  margin-left: 13px;
}
.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
