html {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 174, 98);
}

nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}
nav ul li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}
nav ul li a:hover {
  transform: scale(1.2) translateY(0px);
}

.tourism-banner h1 {
  text-align: center;
}

main {
  margin: 175px 275px 0 275px;
}

.main-odd-attraction {
  padding-bottom: 800px;
}

.main-odd-description {
  width: 400px;
  float: left;
}

.main-odd-pic {
  width: 800px;
  float: right;
}

.main-odd-pic img {
  width: 100%;
  border-radius: 25px;
}

.main-even-attraction {
  padding-bottom: 800px;
}

.main-even-description {
  width: 400px;
  float: right;
}

.main-even-pic {
  width: 800px;
  float: left;
}

.main-even-pic img {
  width: 100%;
  border-radius: 25px;
}

#main-last {
  padding-bottom: 600px;
}
